# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dummy files
*.~*
*.ecd
CLEANUP*.BAT

# VC++ files
.vs/
Debug/
Release/
_intermediate_/
*.user
*.sdf
*.ncb
*.suo
*.db

# CyAPI
unified/libcyapi
unified/CyAPI.h

